# Exercise 3

Related Notes:
- Chapter_02_Programming_Constructs
- Chapter_03_Data_Structures

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/Exercises/Exercise_03_Data_Structures.ipynb)

## Exercise 3.1 Dude, What's my Index?

Consider the following list

``` python
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 0, 2, 8, 8]
```

Write a program that print out:
- the indices of occurence of each digit (0-9) in the list, and
- its number of occurences in the list
in the following format.

>``` text
> <DIGIT> <LIST_OF_INDICES> <NO_OF_OCCURENCES>
>```

Example Output:

>``` text
> Digit 0 : [32] : 1
>```

Try your program again with the following list.

``` python
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]
```

In [ ]:
#Exercise 3.1

numList = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]

for n in range(10):
  indexList = []
  counter = 0

  for i, c in enumerate(numList):

    if c == n:
        indexList += [i]
        counter += 1

  print(n, indexList, counter)

0 [] 0
1 [1, 3] 2
2 [6, 16, 21, 28, 32] 5
3 [0, 9, 15, 17, 24, 25, 27] 7
4 [2, 19, 23] 3
5 [4, 8, 10, 31] 4
6 [7, 20, 22] 3
7 [13, 29] 2
8 [11, 18, 26, 33, 34] 5
9 [5, 12, 14, 30] 4

## Exercise 3.2 Some Heights Statistics

Write a program that:
- ask user to input the heights value (in centimeter) of $n$ students. The entered values are integer.
- store the input values in list and print the list out
- display the lowest, highest and mean of the height of these $n$ students. In case you have forgotten, mean is the arithmetic average.  

Example Output:

>``` text
>Number of heights to be entered: 4
>100
>120
>110
>130
>The list of heights: [100,120,110,130]
>Minimum height is 100 cm, maximum height is 130 cm and the average height is 115.0 cm.
>```

In [ ]:
#Exercise 3.2

studentNum = int(input("Number of heights to be entered: "))
heightList = []

for c in range(studentNum):
  height = int(input(f"Enter height of student {c + 1}: "))
  heightList += [height]

print(f"The list of heights: {heightList}")
print(f"The minimum height is {min(heightList)} cm, maximum height is {max(heightList)} cm and the average height is {sum(heightList) / studentNum} cm")

Number of heights to be entered: 4
Enter height of student 1: 100
Enter height of student 2: 120
Enter height of student 3: 110
Enter height of student 4: 130
The list of heights: [100, 120, 110, 130]
The minimum height is 100 cm, maximum height is 130 cm and the average height is 115.0 cm

## Exercise 3.3 Binning

In a school the grades obtained by a student in a certain subject depends on their mark, ranging from 0 to 100, obtained for the subject and it follows the following table.

<center>

| Marks ($m$)| Grade |
|-------|-------|
|   $m<40$    |    U     |
|   $40\leq m\leq 44$     |    S     |
|   $45\leq m\leq 49$    |    E     |
|   $50\leq m\leq 54$    |    D     |
|   $55\leq m\leq 59$    |    C     |
|   $60\leq m\leq 69$    | B     |
|   $m\geq 70$    |    A     |

</center>

Following are the list of marks obtained by students from 2 different classes. `mark_1` is a list from one class and `mark_2` is a list from the other class.

``` python
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]
mark_2 = [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]
```

Write a program that:
- print outs the list of the students in each grade group for each of the classes in an *descending order* in the following format
>``` text
><GRADE> <LIST OF DESCENDING MARKS> <NO OF STUDENTS IN THE LIST>
>```
- if there are no students receiving such grade, print the empty list `[]`.

Example Output:
>``` text
>#Assume the marks are stored in the list [39, 45, 66, 68, 75]
>U: [39] 1
>S: [] 0
>E: [45] 1
>D: [] 0
>C: [] 0
>B: [68, 66] 2
>A: [75] 1
>```

In [ ]:
#Exercise 3.3

gradeDict = {"U": 39, "S": 44, "E": 49, "D": 54, "C": 59, "B": 69, "A": 100}
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]
mark_2 = [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]

def sortGrades(markList):

  for grade, maxMark in list(gradeDict.items()):
    tempList = []
    counter = 0

    for mark in markList:

      if mark <= maxMark:
        tempList += [mark]
        markList.remove(mark)
        counter += 1

    tempList.sort()
    print(grade, tempList, counter)

sortGrades(mark_1)
print("")
sortGrades(mark_2)

U [23, 31, 33, 38] 4
S [31, 39, 40, 41, 41] 5
E [46, 49] 2
D [53] 1
C [55, 55, 56, 57] 4
B [60] 1
A [74, 80, 88, 98] 4

U [7, 11, 20, 25, 27, 30, 33, 36] 8
S [21, 25, 28, 42, 43, 44] 6
E [24, 44, 48] 3
D [50, 54] 2
C [] 0
B [61, 69] 2
A [70, 95] 2

## Exercise 3.4 A Funny Interest

Mr. $B$ was offered an investment opportunity with a company where if he was to invest \$1000, he was guaranteed a $100%$ yearly interest rate, i.e. Mr. $B$ will be receive \$2000 after 1 year, inclusive of his capital.  

A friend of his that work in the company offers him another deal: same capital \$1000, same yearly interest rate of $100%$ but applied quarterly for a year, meaning every 3 months, the applied interest rate to the current amount is $\frac{100}{4}\%=25\%$. So, after 3rd month, his investment becomes \$1250. After 6th month, it's \$1562.50. After 9th month, it's \$1953.13.
Under this scheme, how much would Mr. $B$'s investment worth after a full year?

Suppose that instead of applying the interest rate of 100% quarterly, a human error caused the interest rate to be applied *hourly* instead, for a full year. How much value will Mr. $B$'s investment worth then?

In [ ]:
#Exercise 3.4

def scheme1(principal, months):
  return principal * (1.25 ** (months // 3))

print(scheme1(1000, 12))

def scheme2(principal, hours):
  return principal * (1.25 ** hours) #trust me it works, don't run

print(scheme2(1000, 24 * 365))

2441.40625
1053809274565587553513489041288692895122749691855592391131284913108469163648377347765305594385380338583386696332175417861690016344941982642375010267376650638071086019751284937351230530392427948757060829524700073288094993427741043657581484806982388697615407250094596653516182314305939420069299246092454485104270883728635360561194705908454475210121049271583753455483396996261640710435636022976919685354101166096484050196827060651661145426924377687729283227641708499519727823658309551933235252277217886768712075271408641376153013916775321762393645755775029719216017230611970417784824006192353192332158948397904289941946648451402265485466394560655313163495474021801658168503041627017089891836872150508244862775273261467505007216685481673430653533710667768705686957913462122115721716305383669177269480786006258500589068800445363365228682739181936626478055436778966838255756071522877130392296426820128543510960081674329661521952384804263790368649378875642934892725734314816330720899251266927027843105949403056258760902483692008882714090391446216239254168368054340978555817980281316878848730917746665694849246910823851723670924809720995407497105963165537395433667452760455965973272356920193794428121197331812442783923137597957670049488739716295711896432690391744099387785316906729391355326865439854777986087081644080124422449905659815782120740999518198720868710640898363312375917783954668643555105900832376861320527768018827246710047615168906869691515512855120358869552376950023552950091331265553336094881465307306719869399680288153405333606011913889732398605505648135561344222469412220466497864720458337028827492718246381269600517690874210755564075466613237400246768183064266941388825341542231982021670358625861528359791135780791185410851195308722964110860348871729097352274147466845322864328808129314537370265790886167219138481502423078147349277382414365274656912409266567292694457604338643225914897281602693475400445184063032132034903362642606382986325152192573666745047200176297331334535923813444950759478142952643659505104980791772791516649473809371474719332218243347179247205213769298175820443912986859967132200179563563867703819509259619036383373903993427409039817668081018992673838726089270194153392606590840548493642993777284996559257518274963928636696440881274928102661650086070035976934346799928215501834765344125681018393167692186855574427450550888729704669197461841344056246099870566510005254831555757723240290635361311622338980425884304297302794590615719215452672380963724072256541844098079850037995869484600713557554277369209133827726500150049047155652415372230032562823365398163911461760598600091689179074863524465496324598398976000

## Exercise 3.5 Doubling My Money

A customer is considering to deposit her money into a savings account with one of the locally available banks. As of 5th March 2021, the interest rates offered are given in the following table:

<center>

|         Savings Account        | Yearly Interest rate (%) |
|:------------------------------:|:-----------------:|
| BOC SmartSaver                 |         1         |
| DBS Multiplier Account         |        0.4        |
| UOB One Account                |        0.5        |
| Standard Chartered Bonus$saver |        0.38       |
| OCBC 360 Account               |        0.55       |

</center>

Write a program that:
- Prints out a list that contains the number of years that is required for the money in savings account to double for each type of savings account.

Example output:

>```text
>With 1% yearly interest rate with BOC SmartSaver, it will take ___ years for the money to double.
>```

For each of the savings account, compare the number of years obtained in the earlier part with the number $\frac{72}{100r}$, where $r$ is the yearly interest rate. What do you observe? Can you explain your observation?

In [ ]:
#Exercise 3.5

import math
bankDict = {"BOC SmartSaver": 1, "DBS Multiplier Account": 0.4, "UOB One Account": 0.5, "Standard Chartered Bonus$saver": 0.38, "OCBC 360 Account": 0.55}

for bank, interest in list(bankDict.items()):

  timeToDouble = math.log(2, 1 + interest * 0.01)
  print(int(round(timeToDouble, 0)))

70.0
174.0
139.0
183.0
126.0

## Exercise 3.6 Arithmetic Sequence Revisited

Recall from Exercise 1.2, an **arithmetic sequence** is a sequence of real numbers
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$ and $d\neq 0$, called the **common difference** and $n\geq 1$.

The problem:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input greater or equal to $4$ from the user for the number of terms.  Let us denote this input as `number_of_terms`.
- Print out the list that contains the arithmetic sequence up to the $n$th term, where $n =$ `number_of_terms`.
- Print the list that contains the first 3 terms of the arithmetic sequence.
- Print the list that contains the last 4 terms of the arithmetic sequence.
- Use an inbuilt function that accepts list as an input to calculate the sum of the first $n$ terms of the arithmetic sequence.

Example interaction:

>```text
>Please input the first term in the arithmetic sequence:
>2
>Please input the common difference:
>3
>Please input the number of terms:
>5
>The list containing the first 5 terms of the arithmetic sequence are:
>[2, 5, 8, 11, 14]
>The list of the first 3 terms of the sequence is:
>[2, 5, 8]
>The list of the last 4 terms of the sequence is:
>[5, 8, 11, 14]
>The sum of all the terms in the sequence is:
>40
>```

In [ ]:
#Exercise 3.6

firstTerm = int(input("Please input the first term: "))
commonDiff = int(input("Please input the common difference: "))
termNum = int(input("Please input the number of terms: "))
termList = []

for i in range(firstTerm, firstTerm + commonDiff * termNum, commonDiff):
  termList += [i]

print("The arithmetic sequence is:")
print(termList)

print("The first 3 terms of the arithmetic sequence are: ")
print(termList[:3])

print("The last 4 terms of the arithmetic sequence are: ")
print(termList[-4:])

print("The sum of all terms is:")
print(sum(termList))

Please input the first term: 2
Please input the common difference: 3
Please input the number of terms: 5
The arithmetic sequence is:
[2, 5, 8, 11, 14]
The first 3 terms of the arithmetic sequence are:
[2, 5, 8]
The last 4 terms of the arithmetic sequence are:
[5, 8, 11, 14]
The sum of all terms is:
40

## Exercise 3.7 Value Swapping

Write a program that:
- Ask user to input 3 integer values, `x`, `y` and `z` one by one.
- Print out `x`, `y` and `z` value before swapping
- Write an one-line statement to swap values so that `x` will hold value of `y`, `y` will hold value of `z`, and `z` will hold value of x after running the statement.
- Print out `x`, `y` and `z` value after swapping.

Example interaction:

>```text
>Enter the value for x: 10
>Enter the value for y: 20
>Enter the value for z: 30
>Before swapping, x = 10, y = 20, z = 30
>After swapping, x = 20, y = 30, z = 10
>```

In [ ]:
#Exercise 3.7

x = int(input("Enter x: "))
y = int(input("Enter y: "))
z = int(input("Enter z: "))

print(f"x = {x}, y = {y}, z = {z}")

x, y, z = y, z, x

print(f"x = {x}, y = {y}, z = {z}")

Enter x: 10
Enter y: 0
Enter z: 30
x = 10, y = 0, z = 30
x = 0, y = 30, z = 10

## Exercise 3.8 Dots in a Square

In Python, we can generate random values between -1 and 1 by:

- importing the `random` module, and then
- using `random.uniform(-1,1)` method.

Write a program that:

0. set `n` to be 100
1. creates a list called `coordinates` which contain `n` tuples with 2 elements each where each element in the tuple is a randomly generated real number between -1 and 1 inclusive, i.e. each element in `coordinates` is of the following form `(element_1,element_2)`. This list represents 100 random points in the cartesian plane ($xy$-plane) where the $x$-coordinates and $y$-coordinates are between -1 and 1 inclusive.
2. print out the number of the generated random points (i.e., elements in `coordinates`) that has a distance of at most 1 unit away from the origin $O$. Recall that the distance $d$ from origin to a point $\left(x,y\right)$ is $d=\sqrt{x^2+y^2}$. You can use the method `math.sqrt(your_number)` to find the square root of a number.
3. print out also `frac`, the fraction of the number of such points out of $n$ points.
4. print out `frac*4`.
5. repeat steps 1-5 above with `n` set to be 1000, 10000, 100000.

What can you observe about the values of `frac*4` as the `n` increases?

Example interaction:

>```text
>#Assume collection = [(1, 0.7), (0.5, 0.5), (-1, -1)]
>Number of points that has a distance of at most 1 unit away from the origin: 1
>Fraction of such numbers : 0.3333333
>4*frac : 1.333333332
>```

In [ ]:
#DO NOT DELETE THE FOLLOWING IMPORT
import random
import math

#TESTING THE METHODS UNIFORM AND SQRT
print(random.uniform(-1,1))
print(math.sqrt(2))

-0.5920668228591246
1.4142135623730951

In [7]:
#Exercise 3.8

import random
import math

n = 100000
coordList = [(round(random.uniform(-1, 1), 2), round(random.uniform(-1, 1), 2)) for c in range(n)]
withinRadNum = 0

for c in coordList:
  if math.sqrt(c[0] ** 2 + c[1] ** 2) <= 1:
    withinRadNum += 1

print(f"Number of points: {withinRadNum}")
print(f"Fraction of points: {withinRadNum / n}")
print(f"Fraction of points * 4: {withinRadNum / n * 4}")

#The value of frac*4 trends towards pi as n increases

Number of points: 78470
Fraction of points: 0.7847
Fraction of points * 4: 3.1388

## Exercise 3.9 3D Vector Operations

In mathematics, a real valued 3-dimensional vector is a collection of 3 values $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)$, where $a_1,a_2,a_3 \in \mathbb{R}$.

Binary operation between vectors differs from operation between numbers and some of such operations are defined as such:
- addition $+$, which operates between 2 vectors and returns a vector, $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)+\left(\begin{array}{c}
b_{1}\\
b_{2}\\
b_{3}
\end{array}\right)=\left(\begin{array}{c}
a_{1}+b_{1}\\
a_{2}+b_{2}\\
a_{3}+b_{3}
\end{array}\right)$,
- dot product $\cdot$, which operates between 2 vector and returns a real number, $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)\cdot\left(\begin{array}{c}
b_{1}\\
b_{2}\\
b_{3}
\end{array}\right)=a_{1}b_{1}+a_{2}b_{2}+a_{3}b_{3}$,
- cross product $\times$, which operates between 2 vectors and returns yet another vector, $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)\times\left(\begin{array}{c}
b_{1}\\
b_{2}\\
b_{3}
\end{array}\right)=\left(\begin{array}{c}
a_{2}b_{3}-a_{3}b_{2}\\
-\left(a_{1}b_{3}-a_{3}b_{1}\right)\\
a_{1}b_{2}-a_{2}b_{1}
\end{array}\right)$.

Write a program that:
- Ask user to input 6 float values `x1`, `y1`, `z1`, `x2`, `y2`, `z2`
- Stores the 6 values above in a list called `vectors` that contained the tuples `(x1,y1,z1)` and `(x2,y2,z2)`. We will use each of these tuples to represent a 3-dimensional vector.
- Print out the list `vectors`.
- Implement the 3 vector operations defined above and print out the result. Refer to the example interaction below for the format.

Example interaction:

>```text
>Enter the value for x1: 1
>Enter the value for y1: 2
>Enter the value for z1: 3
>Enter the value for x2: 4
>Enter the value for y2: 5
>Enter the value for z2: 6
>vectors : [(1, 2, 3), (4, 5, 6)]
>addition : (1, 2, 3) + (4, 5, 6) = (5, 7, 9)
>dot product : (1, 2, 3) . (4, 5, 6) = 32
>cross product : (1, 2, 3) x (4, 5, 6) = (-3, 6, -3)
>```

In [15]:
#Exercise 3.9

x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
z1 = int(input("Enter z1: "))
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))
z2 = int(input("Enter z2: "))

v1 = (x1, y1, z1)
v2 = (x2, y2, z2)

addition = (x1 + x2, y1 + y2, z1 + z2)
dotProduct = x1 * x2 + y1 * y2 + z1 * z2
crossProduct = (y1 * z2 - z1 * y2, z1 * x2 - z2 * x1, x1 * y2 - y1 * x2)

print(f"Vectors: {v1}, {v2}")
print(f"Addition = {v1} + {v2} = {addition}")
print(f"Dot product = {v1} . {v2} = {dotProduct}")
print(f"Cross product = {v1} x {v2} = {crossProduct}")

Enter x1: 1
Enter y1: 2
Enter z1: 3
Enter x2: 4
Enter y2: 5
Enter z2: 6
Vectors: (1, 2, 3), (4, 5, 6)
Addition = (1, 2, 3) + (4, 5, 6) = (5, 7, 9)
Dot product = (1, 2, 3) . (4, 5, 6) = 32
Cross product = (1, 2, 3) x (4, 5, 6) = (-3, 6, -3)