# Learning Objectives

- [ ]  2.2.1 Understand the different types: integer `int`, real `float`, char `chr`, string `str` and Boolean `Boolean` and initialise arrays `list`, `tuple` (1-dimensional and 2-dimensional).

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/Notes/Chapter_03_Data_Structures.ipynb)

# 3 Basic Data Structures

In computer science, a data structure is a data organization, management, and storage format that enables efficient access and modification. More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.

## 3.1 Array

An array, is a data structure consisting of a collection of elements (values or variables), each identified by at least one array index or key. We will focus on two commonly used ones in Python.

### 3.1.1 List

**Lists** are the most commonly used data structure in Python.

* It is a **mutable** collection, i.e. its items can be added and removed.
* Each of these data can be accessed by calling its index value.

#### 3.1.1.1 Creating a list

Lists are declared/created by just equating a variable to `[]` or list.

```python
empty_list = []
print(type(empty_list))
```

Items in the list are seperated by comma `,`.
```python
nums = [1, 2, 3, 4]
nums
```

In [ ]:
# YOUR CODE HERE
nums = [1, 2, 3, 4]
nums

[1, 2, 3, 4]

List element can be of any data type.

```python
fruits = ['apple', 'banana', 'cherry', 'durian']
fruits
```

In [ ]:
# YOUR CODE HERE
fruits = ['apple', 'banana', 'cherry', 'durian']
fruits

['apple', 'banana', 'cherry', 'durian']

In fact, it is able to hold elements of *mixed data types*, although this is not commonly used.

```python
mixed = ['apple', 3, 'banana', 5.0, True, None, (1,), [1,23]]
mixed
```

In [ ]:
# YOUR CODE HERE
mixed = ['apple', 3, 'banana', 5.0, True, None, (1,), [1,23]]
mixed

['apple', 3, 'banana', 5.0, True, None, (1,), [1, 23]]

List can also have **lists as its element**, which creates a `nested list`.

```python
nested = [ [10, 11, 12, 13],
           [20, 21, 22, 23] ]
nested
```

In [ ]:
# YOUR CODE HERE
nested = [ [10, 11, 12, 13],
           [20, 21, 22, 23] ]
nested

[[10, 11, 12, 13], [20, 21, 22, 23]]

#### 3.1.1.2 Accessing Elements in a list via Indexing

Items in collection can be accessed by their indexes. Python uses zero-based indexing, i.e. index starts from 0.

```python
print(fruits)
print(fruits[0])
print(fruits[1])
```

In [ ]:
# YOUR CODE HERE
fruits = ['apple', 'banana', 'cherry', 'durian']
print(fruits)
print(fruits[0])
print(fruits[1])

['apple', 'banana', 'cherry', 'durian']
apple
banana

Indexing can also be done in reverse order by using a negative value as the index. That is the last element of the list has an index of -1, and second last element has index of -2 etc. This is called **negative indexing**.

<center><img src="https://github.com/njc-cz2-2021/Materials/blob/main/Notes/images/list-indexing.png?raw=1" alt="Set Venn Diagram" style="width: 400px;"/></center>

```python
fruits[-1]
fruits[-2]
```

In [ ]:
# YOUR CODE HERE
fruits = ['apple', 'banana', 'cherry', 'durian']
print(fruits[1])
print(fruits[-2])

banana
cherry

For nested list, we can access items by **multi-level indexing**. Each level of the index always starts from 0.

For example, access 1st element in 1st list, and 2nd element in 2nd list
```python
print(nested)
print(nested[0][0])
print(nested[1][1])
```

In [ ]:
# YOUR CODE HERE
nested = [ [10, 11, 12, 13],
           [20, 21, 22, 23] ]
print(nested)
print(nested[0][0])
print(nested[1][1])

[[10, 11, 12, 13], [20, 21, 22, 23]]
10
21

#### Exercise 3.1

How do you access element `Blackcurrant` in following list?
```python
nested_fruits = [
    ['Apple', 'Apricots', 'Avocado'],
    ['Banana', 'Blackcurrant', 'Blueberries'],
    ['Cherries', 'Cranberries', 'Custard-Apple']]
```

In [ ]:
#Exercise 3.1

nested_fruits = [
    ['Apple', 'Apricots', 'Avocado'],
    ['Banana', 'Blackcurrant', 'Blueberries'],
    ['Cherries', 'Cranberries', 'Custard-Apple']]

nested_fruits[1][1]

'Blackcurrant'

#### 3.1.1.2 Accessing Subsets Elements in a list via Slicing

**Indexing** was only limited to accessing a single element.
**Slicing** on the other hand is accessing a sequence of data inside the list.

**Slicing** is done by defining the index values of the `first element` and the `last element` from the parent list that is required in the sliced list.

```python
sub = num[a : b]
sub = num[a : ]
sub = num[: b]
sub = num[:]
```

* if both `a` and `b` are specified, `a` is the first index, `b` is the **last index + 1**.
* if `b` is omitted, it will slice till last element.
* if `a` is omitted, it will starts from first element.
* if neither `a` or `b` is specified, it is effectively copy the whole list

**Note: the upper bound index is NOT inclusive!**

List slicing can also be used to extract elements at indices that differs by a constant `diff` (i.e the indices formed a arithmetic progression) with the following syntax
```python
sub = num[a:b:diff]
```

#### Exercise 3.2

* Create a list containing numbers 0-9
* Print 3rd to 5th items
* Print all items after 6th position

In [ ]:
#Exercise 3.2

numList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numList[2:5])
print(numList[6:])

[2, 3, 4]
[6, 7, 8, 9]

#### Exercise 3.3
The `num` is a list of integers from 0 to 9, split the list into 2 equal size sub list, `sub1` and `sub2`.

```python
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [ ]:
#Exercise 3.3

num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = num[:5]
list2 = num[5:]

print(list1)
print(list2)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

Remember list items can be accessed using `negative index`. Same technique can be applied for slicing too, i.e. we can **slice with negative index**.

* Last item has index of -1

#### Exercise 3.4

For a list with integer 0-9,
* How to get last 3 items from a list?
* How to ignore last 3 items from a list?
* How to strip first and last items from a list?

In [ ]:
#Exercise 3.4

numList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numList[-3:])
print(numList[:-3])
print(numList[1:-1])

[7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]

#### 3.1.1.3 Working with Lists

##### 3.1.1.3.1 Length of lists `len()`
To find the length of the list or the number of elements in a list, the function `len( )` is used. Syntax is
```python
len(your_list)
```

#### Exercise 3.5
Find the length of list `num = [0,1,2,3,4,5,6,7,8,9]`

In [ ]:
#Exercise 3.5

num = [0,1,2,3,4,5,6,7,8,9]
len(num)

10

##### 3.1.1.3.2 Maximum `max()`, minimum `min()` and sum `sum()` of all the values in the list

If the list consists of all integer elements, the functions `min( )`, `max( )` and `sum()` gives the minimum item, maximum item and total sum value of the list. Syntax is
```python
max(your_list)
min(your_list)
sum(your_list)
```

#### Exercise 3.5
Find the minimum value, max value and sum of all the values of list `num = [0,1,2,3,4,5,6,7,8,9]`

In [ ]:
#Exercise 3.5

num = [0,1,2,3,4,5,6,7,8,9]
print(max(num))
print(min(num))
print(sum(num))

9
0
45

#### Exercise 3.6
Find the maximum, minimum and sum of all the values of list `num = [0,1,2,3,4,5,6,7,8,9]` and use `.format()` string method to print out the following message.
```python
min = 0, max = 9, sum = 45
```

In [ ]:
#Exercise 3.6

num = [0,1,2,3,4,5,6,7,8,9]
print(f"min = {min(num)}, max = {max(num)}, sum = {sum(num)}")

min = 0, max = 9, sum = 45

For a list with elements as string, the `max()` and `min()` is still applicable.
* `max()` would return a string element whose ASCII value is the highest
* `min()` is used to return the lowest

Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

#### Exercise 3.7

What is the output of `min()` and `max()` on following list? What would happen if `sum()` is applied?


```python
jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
```

In [ ]:
#Exercise 3.7

jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
print(max(jc))
print(min(jc))
print(sum(jc))

yijc
acjc

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### 3.1.1.3.3 Reversing the values in a list with `reversed()` function

The entire elements present in the list can be reversed by using the `reversed()` function.

#### Exercise 3.8
Modify following list by arranging items in reverse order.

```python
jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
```

In [ ]:
#Exercise 3.8

jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
jc.reverse()
print(jc)

['nyjc', 'sajc', 'ejc', 'dhs', 'mi', 'cjc', 'rjc', 'jpjc', 'asrjc', 'hci', 'njc', 'acjc', 'yijc', 'tjc', 'vjc', 'tmjc']

#### Exercise 3.9

Can you print out the items in reverse order without modifying the list?
* Hint: use indexing with step `-1`

```python
jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
```

In [ ]:
#Exercise 3.9

jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
newList = []

for c in range(len(jc)):
  newList.append(jc[-c-1])

print(newList)

['nyjc', 'sajc', 'ejc', 'dhs', 'mi', 'cjc', 'rjc', 'jpjc', 'asrjc', 'hci', 'njc', 'acjc', 'yijc', 'tjc', 'vjc', 'tmjc']

##### 3.1.1.3.3 Sorting elements in a list with `sorted()` function

Python offers built in operation `sorted( )` to arrange the elements in **ascending** order. Syntax is

```python
sorted(your_list)
```

For **descending** order, specify the named argument `reverse = True`. Syntax is

```python
sorted(your_list, reverse = True)
```

By default the reverse condition will be `False` for reverse. Hence changing it to `True` would arrange the elements in descending order.

#### Exercise 3.10

* Check out the documentation of `list.sort()` method
* Sort following list in <u>ascending</u> order, and then in <u>descending</u> order
```python
jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']

```

In [ ]:
#Exercise 3.10

jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
jc.sort(reverse = False)
print(jc)

jc.sort(reverse = True)
print(jc)

['acjc', 'asrjc', 'cjc', 'dhs', 'ejc', 'hci', 'jpjc', 'mi', 'njc', 'nyjc', 'rjc', 'sajc', 'tjc', 'tmjc', 'vjc', 'yijc']
['yijc', 'vjc', 'tmjc', 'tjc', 'sajc', 'rjc', 'nyjc', 'njc', 'mi', 'jpjc', 'hci', 'ejc', 'dhs', 'cjc', 'asrjc', 'acjc']

#### Exercise 3.11

* What's the difference between `list.sort()` method and `sorted()` function?
* Write code to illustrate the difference.

In [ ]:
#Exercise 3.11

jc = ['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
print(sorted(jc))
print(jc)

jc.sort()
print(jc)

['acjc', 'asrjc', 'cjc', 'dhs', 'ejc', 'hci', 'jpjc', 'mi', 'njc', 'nyjc', 'rjc', 'sajc', 'tjc', 'tmjc', 'vjc', 'yijc']
['tmjc', 'vjc', 'tjc', 'yijc', 'acjc', 'njc', 'hci', 'asrjc', 'jpjc', 'rjc', 'cjc', 'mi', 'dhs', 'ejc', 'sajc', 'nyjc']
['acjc', 'asrjc', 'cjc', 'dhs', 'ejc', 'hci', 'jpjc', 'mi', 'njc', 'nyjc', 'rjc', 'sajc', 'tjc', 'tmjc', 'vjc', 'yijc']

The `sorted()` function has another named argument `key`, which allows us to specify a callable function to adjust our sorting criteria. Syntax is

```python
sorted(your_list, key = your_function)
```

The sorting will be done based on returned value from this callable function.

#### Exercise 3.12

For following list of items, sort them by number of characters in each item.
* *Hint:* The `len()` function returns length of a string. To sort based on string length, `key = len` can be specified as shown.

```python
names = ['duck', 'chicken', 'goose']
```

In [ ]:
#Exercise 3.12

names = ['duck', 'chicken', 'goose']
print(sorted(names, key = len))

['duck', 'goose', 'chicken']

#### Exercise 3.13

For a list `[-1, 5, -30, -10, 2, 20, -3]`, sort the list in descending order by their absolute value.
* *Hint:* The `abs()` function returns absolute value of a number.

In [ ]:
#Exercise 3.13

def absValue(n):
  return abs(n)

numList = [-1, 5, -30, -10, 2, 20, -3]
print(sorted(numList, key = absValue))

[-1, 2, -3, 5, -10, 20, -30]

Two lists can also be join together simply using `+` operator. This is called the **concatenation of lists**.

#### Exercise 3.14

Concatenate the lists `[1, 2, 3, 4, 5]` and `[6, 7, 8, 9]`

In [ ]:
#Exercise 3.14

concatenation = [1, 2, 3, 4, 5] + [6, 7, 8, 9, 10]
print(concatenation)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Similar to String, we can repeat a list multiple times with `*` operator.

#### Exercise 3.15  

Create a list `[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]` from list `[1, 2, 3]`.

In [ ]:
#Exercise 3.15

multiple = [1, 2, 3 ] * 4
print(multiple)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

Recap: String has many similar behaviors as list.

#### Exercise 3.16

* How to concatenate 2 strings?
* How to repeat a string 2 times?

In [ ]:
#Exercise 3.16

myList = [1, 2, 3, 4]

print(myList + [2, 3, 4, 5])
print(myList * 2)

[1, 2, 3, 4, 2, 3, 4, 5]
[1, 2, 3, 4, 1, 2, 3, 4]

#### 3.1.1.4 Membership and Searching elements in a list

You might need to check if a particular item is in a list.

Instead of using `for` loop to iterate over the list and use the if condition, Python provides a simple **`in`** statement to check membership of an item.

#### Exercise 3.17

Write code to find out whether `'duck'` and `'dog'` are in the list `['duck', 'chicken', 'goose']` respectively.

In [ ]:
#Exercise 3.17

animalList = ['duck', 'chicken', 'goose']

if 'duck' in animalList:
  print("duck")

if "dog" in animalList:
  print("dog")

duck

To count the occurence of a particular item in a list, we can use the `.count()` method. Syntax is
>```python
>your_list.count(item)
>```

#### Exercise 3.18
* Create a list `['duck', 'chicken', 'goose', 'duck', 'chicken', 'goose', 'duck', 'chicken', 'goose']` from `['duck', 'chicken', 'goose']`
* Count number of occurence of `'duck'`

In [ ]:
#Exercise 3.18

animalList = ['duck', 'chicken', 'goose']
animalList *= 3
print(animalList.count("duck"))

3

To find the index value of a particular item, we can use `.index()` method. Syntax is
>```python
>your_list.index(item)
>```

* If there are multiple items of the same value, only the first index value of that item is returned.
* You can add 2nd argument `x` to start searching from index `x` onwards.

Note: the string functions `find()` and `rfind()` are <u>not available</u> for list.

#### Exercise 3.19
* Create a list `['duck', 'chicken', 'goose', 'duck', 'chicken', 'goose', 'duck', 'chicken', 'goose']` from `['duck', 'chicken', 'goose']`
* Find the index of the first occurence of `'duck'` in the list.
* Find ALL the indices of occurences of `'duck'` in the list.

In [ ]:
#Exercise 3.19

animalList = ['duck', 'chicken', 'goose']
animalList *= 3
while "duck" in animalList:
  duckIndex = animalList.index('duck')
  print(duckIndex)
  animalList[duckIndex] = 0

0
3
6

#### 3.1.1.5 Iterating through List

To iterate through a collection, e.g. list or tuple, you can use **for-loop**.

**Syntax**
```python
for item in my_list:
    # Process each item
```

#### Exercise 3.20

Print out each item in `names` list.
```python
names = ['duck', 'chicken', 'goose']
```

In [ ]:
#Exercise 3.20

names = ['duck', 'chicken', 'goose']

for c in names:
  print(c)

duck
chicken
goose

To find the index value of each item in the list, we can use `enumerate()` function in a **for-loop**. Syntax is
```python
for index, item enumerate(your_list):
    # Process each index and item
```

#### Exercise 3.21
* Print items in list `['duck', 'chicken', 'goose']` as following output.

>```python
>0 duck
>1 chicken
>2 goose
>```

In [ ]:
#Exercise 3.21

names = ['duck', 'chicken', 'goose']

for i, c in enumerate(names):
  print(i, c)

0 duck
1 chicken
2 goose

Python provides a very handy way to perform same operate on all items in a list, and return a new list, called *list comprehension*.

#### Exercise 3.22

Create a list which contains len() value of each item in `['duck', 'chicken', 'goose']`

In [ ]:
#Exercise 3.22

lenList = []
animalList = ['duck', 'chicken', 'goose']

for c in animalList:
  lenList += [len(c)]

print(lenList)

[4, 7, 5]

#### Exercise 3.23

Create a list which contain the first 100 terms of an arithmetic sequence with first term 2 and common difference 3.

In [ ]:
#Exercise 3.23

numList = []

for i in range(2, 2 + 100 * 3, 3):
  numList += [i]

print(numList)

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98, 101, 104, 107, 110, 113, 116, 119, 122, 125, 128, 131, 134, 137, 140, 143, 146, 149, 152, 155, 158, 161, 164, 167, 170, 173, 176, 179, 182, 185, 188, 191, 194, 197, 200, 203, 206, 209, 212, 215, 218, 221, 224, 227, 230, 233, 236, 239, 242, 245, 248, 251, 254, 257, 260, 263, 266, 269, 272, 275, 278, 281, 284, 287, 290, 293, 296, 299]

#### Exercise 3.24
Create a list where all items are prefixed with a string 'big', which resulted in `['big duck', 'big chicken', 'big goose']`?

```python
names = ['duck', 'chicken', 'goose']
```

In [ ]:
#Exercise 3.24

names = ['duck', 'chicken', 'goose']
bigList = []

for c in names:
  bigList += ["big " + c]

print(bigList)

['big duck', 'big chicken', 'big goose']

#### 3.1.1.4 Modifying a list

List is a **mutable** collection, i.e. list can be modified and item value can be updated.

It is easy to update an item in the list by its index value.

#### Exercise 3.25

For a list `s = [0,1,2,3,4]`, update its 3rd item to `9`.

In [ ]:
#Exercise 3.25

s = [0, 1, 2, 3, 4]
s[2] = 9
print(s)

[0, 1, 9, 3, 4]

The `list.append()` method is used to append (add) a element at the end of the list. Syntax is
>```python
>your_list.append(element)
>```

#### Exercise 3.26

For a list `s = [0, 1, 2, 3, 4, 5]`, append a value `6` to it.

In [ ]:
#Exercise 3.26

s = [0, 1, 2, 3, 4, 5]
s.append(6)
print(s)

[0, 1, 2, 3, 4, 5, 6]

#### Exercise 3.27

What happens if you append a list `[7, 8, 9]` to a list `[1, 2, 3, 4, 5, 6]`?

In [ ]:
#Exercise 3.27

[0, 1, 2, 3, 4, 5, 6, [7, 8, 9]]

A list can also be **extended** with items from another list using `list.extend()` method. It will modify the first list. The resultant list will contain all the elements of the lists that were added, i.e. the resultant list is NOT a nested list. Syntax is
>```python
>your_list.extend(another_list)
>```

**Note** the difference between `append()` and `extend()`.


#### Exercise 3.28

Extend a list `[1, 2, 3, 4, 5, 6]` with all items in another list `[7, 8, 9]`.

In [ ]:
#Exercise 3.28

s = [0, 1, 2, 3, 4, 5, 6]
s.extend([7, 8, 9])
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Question:**

* Can you re-write above code using `+` operator?
* Can you insert `[7, 8, 9]` in the middle of `[1, 2, 3, 4, 5, 6]` using `+` operator?

In [ ]:
#Exercise 3.28

s = [0, 1, 2, 3, 4, 5, 6]
s += [7, 8, 9]
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

The method `list.insert(position,new_value)` is used to insert a element `new_value` at a specified index value `position`. Syntax is
>```python
>your_list.insert(position,new_value)
>```

* `list.insert()` method does not replace element at the index.
* `list.append( )` method can only insert item at the end.

#### Exercise 3.29

Use `list.insert()` method to modify a string `'What a day'` to `'What a sunny day'`.
* *Hint:* Use `str.split()` and `str.join()` methods.

In [ ]:
#Exercise 3.29

sentence = "What a day"
sList = sentence.split()
sList.insert(2, "sunny")
sentence = " ".join(sList)
print(sentence)

What a sunny day

`list.pop()` method can be used to remove the last element in the list. This is similar to the operation of a stack (which we will cover later in the course.) Syntax is
>```python
>your_list.pop()
>```

#### Exercise 3.30

Use `list.pop()` function to remove items in list `[0, 1, 2, 3, 4]` in reverse order.

In [ ]:
#Exercise 3.30

nList = [0, 1, 2, 3, 4]
last = nList.pop()
print(nList)
print(last)

[0, 1, 2, 3]
4

Index value can be specified to `list.pop()` method to remove a certain element corresponding to that index value. Syntax is
>```python
>your_list.pop(index)
>```

#### Exercise 3.31

Use `list.pop()` method to remove `'c'` from list `['a', 'b', 'c', 'd', 'e']`.

In [ ]:
#Exercise 3.31

lList = ['a', 'b', 'c', 'd', 'e']
c = lList.pop(lList.index("c"))
print(lList)
print(c)

['a', 'b', 'd', 'e']
c

`list.remove( )` method is used to remove an item based on its value. Syntax is
>```python
>your_list.remove(value)
>```

* If there are multiple items of same value, it will only remove 1st item.
* It will throw an **exception** if the value is not found in the list. You may need to enclose it with `try-except` block. (We will come back to this)

#### Exercise 3.32

Use `list.remove()` function to remove value `3` three times.

```
lst = [0, 1, 2, 3, 4] * 2
```

In [ ]:
#Exercise 3.32

lst = [0, 1, 2, 3, 4] * 2

for c in range(3):
  try:
   lst.remove(3)
  except:
    pass

print(lst)

[0, 1, 2, 4, 0, 1, 2, 4]

#### Exercise 3.33

How to remove all values `3` in the list `[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]`?
* *Hint:* Use `while`, `try-except`, and `break`

In [ ]:
#Exercise 3.33

nList = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

while 3 in nList:
  nList.remove(3)

print(nList)

[1, 2, 4, 1, 2, 4, 1, 2, 4]

To clear all elements in a list, use its `list.clear()` method.

#### Exercise 3.34

Clear all items in `s = [1, 2, 3]`.

In [ ]:
#Exercise 3.33

nList = [1, 2, 3]
nList.clear()
print(nList)

[]

## Recap

* How to create a new list?
* Can a list hold elements of different data type?
* Why do you need multiple level indexing?
* Name 3 functions or operators which works with list.
* What is the keyword used to check membership in a list?
* How to add an item to a list?
* How to remove an item from a list?
* How to merge 2 lists?

### 3.1.2 Tuples

A Tuple is a collection of Python objects which is **immutable**, i.e. not modifiable after creation.

#### 3.1.2.1 Creating a Tuple

Tuple is created with a list of items surrounded by parentheses **"( )"**, and seperated by comma **","**.

* To create an empty tuple, simple use `()`
* To create a single-item tuple, need to add **common `,`** behind the element. E.g. `tup = (3,)`

#### Exercise 3.35

* Create a tuple `t` with values `1, 2, 3, 4`
* Print it and its type

In [ ]:
#Exercise 3.35
t = (1,2,3,4)
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In fact, parentheses is optional unless it is to create an empty tuple.

In [ ]:
#Exercise 3.35

t = ()
print(t)

()

Tuple can also be created using by typecasting a list using `tuple()` constructor function.
* when string is passed in as argument, it turns string into collection of characters.


#### Exercise 3.36
* Create a tuple from list `[1,2,3]`.
* What happen if you apply `tuple()` constructor function on a string `Good day!`?

In [ ]:
#Exercise 3.36

a = tuple([1,2,3])
string = tuple('Good day!')

print(a)
print(type(a))
print(string)

(1, 2, 3)
<class 'tuple'>
('G', 'o', 'o', 'd', ' ', 'd', 'a', 'y', '!')


Python collections allows mix data types in the same collection. We can also create tuple with items of different data type, although this is not commonly used.

#### Exercise 3.37

* Create a tuple with items `'apple', 3.0, 'banana', 4`.

In [ ]:
#Exercise 3.37

t = ("apple", 3.0, "banana", 4)
print(t)

('apple', 3.0, 'banana', 4)

Tuple can contain other tuples as its elements. Such tuples are called **nested tuples**.

#### Exercise 3.38
* Create a tuple `nested` with items `0, 1, (2, 3, 4), (5, 6)`
* What's the length of above tuple?

In [ ]:
#Exercise 3.38

b = (0, 1, (2, 3, 4), (5, 6))
len(b)

4

#### 3.1.2.2 Accessing an Element in tuple via indexing.

Items in collection can be accessed by their indexes. Python uses zero-based indexing, i.e. index starts from 0.

#### Exercise 3.39
* Create a tuple `('apple', 'banana', 'cherry', 'durian')` and assign it to the variable `fruits`.
* Print out 2nd and 4th item in the tuple.

In [ ]:
#Exercise 3.39

fruits = ('apple', 'banana', 'cherry', 'durian')
print(fruits[1])
print(fruits[3])

banana
durian

Indexing can also be done in reverse order. That is the last element has an index of -1, and second last element has index of -2.

<center>
<img src="https://github.com/njc-cz2-2021/Materials/blob/main/Notes/images/list-indexing.png?raw=1" alt="Set Venn Diagram" style="width: 400px;"/>
</center>

#### Exercise 3.40
* Use <u>negative indexing</u> to print out <u>last</u> and <u>2nd last</u> item in `fruits`.

In [ ]:
#Exercise 3.40

fruits = ('apple', 'banana', 'cherry', 'durian')
print(fruits[-1])
print(fruits[-2])

durian
cherry

For nested tuples, we can access items by multi-level indexing as well. Each level of the index always starts from 0.

#### Exercise 3.41
* Create a tuple `nested` with items `0, 1, (2, 3, 4), (5, 6)`.
* How do you access value `4` and `5`?

In [ ]:
#Exercise 3.41

t = (0, 1, (2, 3, 4), (5, 6))
print(t[2][2])
print(t[3][0])

4
5

#### 3.1.2.3 Accessing a Subset of Tuple via Slicing.

**Indexing** was only limited to accessing a single element.
**Slicing** on the other hand is accessing a sequence of data inside the tuple.

**Slicing** is done by defining the index values of the `first element` and the `last element` from the parent list that is required in the sliced tuple.

```python
sub = num[a : b]
sub = num[a : ]
sub = num[: b]
sub = num[:]
```

* if both `a` and `b` are specified, `a` is the first index, `b` is the **last index + 1**.
* if `b` is omitted, it will slice till last element.
* if `a` is omitted, it will starts from first element.
* if neither `a` or `b` is specified, it is effectively copy the whole tuple.

**Note: the upper bound index is NOT inclusive!**

Try out following code.

```python
num = tuple(range(10))

# Get item with index 2 to 4
print(num[2:5])

# Get first 5 items
print(num[:5])

# Get from item with index = 5 onwards
print(num[5:])
```

In [ ]:
num = tuple(range(10))

# Get item with index 2 to 4
print(num[2:5])

# Get first 5 items
print(num[:5])

# Get from item with index = 5 onwards
print(num[5:])

(2, 3, 4)
(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)

Remember tuple items can be accessed using `negative index`. Same technique can be applied for slicing too.

* Last item has index of -1

#### Exercise 3.42
Consider the tuple `num = (0,1,2,3,4,5,6,7,8,9)`.

* How to get last 3 items from a tuple?
* How to ignore last 3 items from a tuple?
* How to strip first and last items from a tuple?

In [ ]:
#Exercise 3.42

num = (0,1,2,3,4,5,6,7,8,9)
print(num[-3:])
print(num[:-3])
print(num[1:-1])

(7, 8, 9)
(0, 1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8)

#### 3.1.2.4 Working with Tuple

##### 3.1.2.4.1 Length of tuples `len()`
To find the length of the tuple or the number of elements in a tuple, the function `len( )` is used. Syntax is
>```python
>len(tuples)
>```

##### 3.1.2.4.2 Maximum `max()`, minimum `min()` and sum `sum()` of all the values in the tuple

If the tuple consists of all integer elements, the functions `min( )`, `max( )` and `sum()` gives the minimum item, maximum item and total sum value of the tuple. Syntax is
```python
max(your_tuple)
min(your_tuple)
sum(your_tuple)
```

#### Exercise 3.43
Print out min value, max value and sum of tuple with items 0-9.

In [ ]:
#Exercise 3.43

num = (0,1,2,3,4,5,6,7,8,9)
print(min(num))
print(max(num))
print(sum(num))

0
9
45

#### Exercise 3.44
How do you create a tuple by reversing another tuple?

In [ ]:
#Exercise 3.44

tup = (1, 2, 3, 4)

print(tuple((tup[-i - 1] for i in range(len(tup)))))

(4, 3, 2, 1)

If elements are string type, `max()` and `min()` is still applicable. `max()` would return a string element whose ASCII value is the highest and the lowest when `min()` is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

#### Exercise 3.45
What's the minimum and the maximum value of tuple `poly = ('np','sp','tp','rp','nyp')`?

In [ ]:
#Exercise 3.45

poly = ('np','sp','tp','rp','nyp')

print(max(poly))
print(min(poly))

tp
np

##### 3.1.2.4.3 Checking Values in the tuple with `any()` and `all()` function

`any()` function returns `True` if any item in tuple (collection) is evaluated `True`.

`all()` function returns `True` if all items in tuple (collection) is evaluated `True`.

Python evaluates following values as `False`
* `False`, `None`, numeric zero of all types
* Empty strings and containers (including strings, tuples, lists, dictionaries, sets and frozensets)

#### Exercise 3.46

For each list of `[2, 4, 0, 9]`, `['', 'hello', 'world']`.
* use `any()` to check if the list contains any non-zero item.
* use `all()` to check if all items in the list are non-zero  .

In [ ]:
#Exercise 3.46

numList = [2, 4, 0, 9, False]
strList = ['', "hello", "world"]

print(any(numList))
print(all(numList))
print(any(strList))
print(all(strList))

True
False
True
False

##### 3.1.2.4.4 Reversing the values in a tuple with `reversed()` function

Unlike list, tuple is immutable. Thus `.reverse()` method is **NOT** applicable to tuple.

The `reversed()` function returns a reversed object which can be converted to be a tuple or list. Syntax is

```python
reversed(my_tuple)
```

E.g.,

```python
poly = ('np','sp','tp','rp','nyp')
r = reversed(poly)
print(type(r), tuple(r))
```

In [ ]:
# YOUR CODE HERE

poly = ('np','sp','tp','rp','nyp')
r = reversed(poly)
print(type(r), tuple(r))

<class 'reversed'> ('nyp', 'rp', 'tp', 'sp', 'np')

##### 3.1.2.4.5 Arranging the values in a tuple with `sorted()` function

Similarly, `.sort()` method cannot be applied directly to tuple itself.

`sorted()` function to arrange the elements in **ascending** order. Syntax is

```python
sorted(my_tuple)
```

E.g.,

```python
poly = ('np','sp','tp','rp','nyp')
s = sorted(poly)
print(poly)
print(s)
```

In [ ]:
# YOUR CODE HERE

poly = ('np','sp','tp','rp','nyp')
s = sorted(poly)
print(poly)
print(s)

('np', 'sp', 'tp', 'rp', 'nyp')
['np', 'nyp', 'rp', 'sp', 'tp']

For **descending** order, specify the named argument `reverse = True`.

By default the reverse condition will be `False` for `reverse`. Hence changing it to `True` would arrange the elements in descending order.

The `sort()` function has another named argument `key`, which allows us to specify a callable function. The sorting will be done based on returned value from this callable function.

For example, `len()` function returns length of a string.

To sort based on string length, `key = len` can be specified as shown.

In [ ]:
names = ('duck', 'chicken', 'goose')
s1 = sorted(names, key=len)
print(s1)
s2 = tuple(reversed(s1))
print(s2)

['duck', 'goose', 'chicken']
('chicken', 'goose', 'duck')

Two tuples can also be join together simply using `+` operator.

In [ ]:
s = (1,2,3)
t = (4,5)
print(s + t)

(1, 2, 3, 4, 5)

Besides tuples, `str` objects are also immutable. New string will be created when a string is modified.

In [ ]:
s = "hello world."
t = s
print(t == s, t is s)
s = s + "abc"
print(t == s, t is s)

True True
False False

Similarly, tuple is immutable. Modification to tuple will return a new tuple object.

Similar to list, we can repeat a tuple multiple times with `*` operator.

In [ ]:
t1 = (1,2,3,4,5,6)
t2 = t1 * 2
print(t1, t2)

(1, 2, 3, 4, 5, 6) (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

#### 3.1.2.5 Membership and Searching elements in a tuple

You might need to check if a particular item is in a tuple.

Instead of using `for` loop to iterate over the tuple and use the `if` condition, Python provides a simple `in` statement to check membership of an item.

```python
names = ('duck', 'chicken', 'goose')
found1 = 'duck' in names
found2 = 'dog' in names
print(found1, found2)
```

`count()` is used to count the occurence of a particular item in a list.

In [ ]:
names = ('duck', 'chicken', 'goose') * 2
print(names)
names.count('duck')

('duck', 'chicken', 'goose', 'duck', 'chicken', 'goose')

2

`index()` is used to find the index value of a particular item.
* Note that if there are multiple items of the same value, the first index value of that item is returned.
* You can add 2nd argument `x` to start searching from index `x` onwards.

In [ ]:
names2 = ('duck', 'chicken', 'goose') * 2
idx = names2.index('goose')
idx2 = names2.index('goose', 4)
print('Gooses at index {} and {}'.format(idx, idx2))

Gooses at index 2 and 5

#### 3.1.2.6 Membership and Searching elements in a tuple

To iterate through a tuple (collection), you can use `for` loop.

In [ ]:
names = ('duck', 'chicken', 'goose')
for name in names:
    print(name)


If you need the index value, you can use `enumerate()` function.

In [ ]:
for idx, name in enumerate(names):
    print(idx, name)

#### 3.1.2.7 Function with Multiple Returning Values

In most programming languages, function/method can only return a single value. It is the same practice in Python.

But in Python, you can return a tuple which can easily pack multiple values together.

#### Exercise 3.44

Define a function `minmax()` which fulfils following conditions. Test the function with list `[1,2,3,4,5]`.

- accept a list as input
- return both min and max values of the list

Tuple can be easily unpacked into multiple values.

During unpacking, number of variable needs to match number of items in tuple

In [ ]:
x, y, z = 1, 2, 3
print(x, y, z)

It is common to use underscore `_` for items to be ignored.

In [ ]:
times = '9am to 5pm to 6pm to 8pm'.split('to')
print(times)
start, _, end, _ = tuple(times)
print(start, end)

['9am ', ' 5pm ', ' 6pm ', ' 8pm']
9am   6pm

#### Exercise 3.45

How to swap two values `x` and `y` in a single statement?

In [ ]:
#Exercise 3.45

x = 10
y = 20

x, y = y, x

print(x, y)

20 10

You can use `*` to hold any number of unpacked values.

For example, from a tuple, you would like to get its last item, and put all other items in a list.

In [ ]:
t = (1, 2, 3, 4,5)
#a, b =t
*a, b = t
print(a, b)

[1, 2, 3, 4] 5

#### Exercise 3.46

How to extract only first and last items from a tuple `(1,2,3,4,5)`.

In [ ]:
#Exercise 3.46

t = (1,2,3,4,5)
first, *mid, last = t

print(first, last)

1 5

## Recap

### Difference between Tuple and List

A tuple is **immutable** whereas a list is **mutable**.

* You can't add elements to a tuple. Tuples have no append or extend method.
* You can't remove elements from a tuple. Tuples have no remove or pop method.

### When to use Tuple?

* Tuples are used in function to return multiple values together.
* Tuples are lighter-weight and are more memory efficient and often faster if used in appropriate places.
* When using a tuple you protect against accidental modification when passing it between functions.
* Tuples, being immutable, can be used as a key in a dictionary, which were about to learn about.

#

## 3.2 Hash Table

A **hash table** (hash map) is a data structure that stores data in an associative manner. Roughly speaking, it is an unordered collection of key-value pairs, which are just a pair of values where by knowing the `key` value, you can retrieve `value` value.

Hash table uses a fixed size array as a storage medium and uses **hash function** to generate an index where an element is to be inserted or is to be located from. Hash table allows us to do a key-value lookup.

Reference: https://www.youtube.com/watch?v=sfWyugl4JWA

Hashing

### 3.2.1 Dictionary

Dictionaries are a common feature of modern languages (often known as maps, associative arrays, or hashmaps) which let you associate pairs of values together.

In Python, dictionaries are defined in **dict** data type.
* It stores keys and their corresponding values.
* Keys must be **unique** and **immutable**.
* It is **mutable**, i.e. you can add and remove items from a dictionary.
* It is **unordered**, i.e. items in a dictionary are not ordered.
* Elements in a dictionary is of the form `key_1:value_1, key_2:value_2,....`

#### 3.2.1.1 Creating a dictionary

Dictionary is created with listed of items surrounded by curly brackets `{}`, and seperated by comma `,`.

* To create an empty dictionary, simple use `{}`
* Key and value are separated by colon `:`
* Key needs to be **immutable** type, e.g. data type like scalar, string or tuple

#### Example

In [ ]:
# empty dictionary
d0 = {}

# dictionary with mixed data type
d1 = {'name': 'John', 1: [2, 4, 3]}
print(d1)

{'name': 'John', 1: [2, 4, 3]}

#### Example

Create a dictionary `fruits` which has following keys and values.

| key | value    |
|-----|----------|
| a   | Apple    |
| b   | Banana   |
| c   | Cherries |
| d   | Durian   |

In [ ]:
# YOUR CODE HERE

fruits = {"a": "Apples", "b": "Banana", "c": "Cherries", "d": "Durian"}

New dictionary can be created from a list of tuples too using the `dict()` constructor function, where each tuple contains a key and a value. Syntax is
>```python
>dict(my_list_of_tuples)
>```

**Example**

Construct a dictionary `f3` using list `[('a','Apple'), ('b','Banana'), ('c','Cherries'), ('d','Durian')]`.

In [ ]:
# YOUR CODE HERE

f3 = dict([('a','Apple'), ('b','Banana'), ('c','Cherries'), ('d','Durian')])

#### 3.2.1.2 Accessing an Element in dictionary by its respective key.

Items in dictionary can be accessed by their respective keys.
* Key can be used either inside square brackets or with the `get()` method.
* The difference while using `get()` is that it returns `None` instead of `KeyError` Exception, if the key is not found.
* `get()` method can take in a default value argument, which will be returned if the key is not found. Syntax is
>`your_dict.get(key,message_if_unavailable)`

#### Example

What happens when you try to use a non-existing key?

In [ ]:
print(fruits)
print(fruits['a'])
print(fruits['b'])
print(fruits['z'])

{'a': 'Apples', 'b': 'Banana', 'c': 'Cherries', 'd': 'Durian'}
Apples
Banana

KeyError: 'z'

#### Example
What happens when you use `.get()` and try to use a non-existing key?

In [ ]:
print(fruits)
print(fruits.get('a', 'Not available'))
print(fruits.get('z', 'Not available'))

{'a': 'Apples', 'b': 'Banana', 'c': 'Cherries', 'd': 'Durian'}
Apples
Not available

3.2.1.3 Finding number of elements in a dictionary with `len()` function

To find the number of elements in a dictionary, `len()` function is used. Syntax is
>```python
>len(my_dictionary)
>```

#### Example:

Find the length of `fruits` dictionary.

In [ ]:
# YOUR CODE HERE

fruits = {"a": "Apples", "b": "Banana", "c": "Cherries", "d": "Durian"}
print(len(fruits))

4

#### 3.2.1.4 `dict.keys()`, `dict.values()`, `dict.items()` methods

* `keys()` method return the dictionary's keys as `dict_keys` object.
* `values()` method return the dictionary's values as `dict_values` object.
* `items()` return  the dictionary's key-value pairs as `dict_items` object.

If you want the various collections as a list typecast the objects using the `list` constructor function.

#### Example

Print out the keys, values and key-value pairs of the dictionary `fruits`.

In [ ]:
print(fruits.keys())
print(fruits.values())
print(fruits.items())

dict_keys(['a', 'b', 'c', 'd'])
dict_values(['Apples', 'Banana', 'Cherries', 'Durian'])
dict_items([('a', 'Apples'), ('b', 'Banana'), ('c', 'Cherries'), ('d', 'Durian')])

#### 3.2.1.5 Modifying and Updating a dictionary

Similar to list, dictionary is a **mutable** collection, i.e. dictionary can be modified and the values of existing items can be updated. Syntax is
```python
your_dictionary[your_key] = your_value
```

* If the key exists in the dictionary, existing value will be updated.
* If the key doesn't exists in the dictionary, new key:value pair is added to dictionary.

#### Example

Using the `fruits` dictionary defined earlier.
- Update its key `a` value to `['Apple', 'Apricots', 'Avocado']`
- Add another key-value pair `{'f':'Fig'}` to `fruits` dictionary.

In [ ]:
# YOUR CODE HERE

fruits = {"a": "Apples", "b": "Banana", "c": "Cherries", "d": "Durian"}
fruits["a"] = ["Apples", "Apricots", "Avocado"]
fruits["f"] = "Fig"

print(fruits)

{'a': ['Apples', 'Apricots', 'Avocado'], 'b': 'Banana', 'c': 'Cherries', 'd': 'Durian', 'f': 'Fig'}

#### 3.2.1.6 Merging Dictionaries with `.update()`

`.update()` method is used to merge items from another dictionary.
* Adds element(s) to the dictionary if the key is not in the dictionary.
* If the key is in the dictionary, it updates the key with the new value.

#### Example

* Create another dictionary `fruits_too` with items `{'d':'Dates', 'e':'Eldercherry', 'f':'Fig', 'g':'Grape'}`.
* Add/update items from `fruits_too` to `fruits`.

In [ ]:
# YOUR CODE HERE

fruits = {'a': ['Apples', 'Apricots', 'Avocado'], 'b': 'Banana', 'c': 'Cherries', 'd': 'Durian', 'f': 'Fig'}
fruits_too = {'d':'Dates', 'e':'Eldercherry', 'f':'Fig', 'g':'Grape'}
fruits.update(fruits_too)
print(fruits)

{'a': ['Apples', 'Apricots', 'Avocado'], 'b': 'Banana', 'c': 'Cherries', 'd': 'Dates', 'f': 'Fig', 'e': 'Eldercherry', 'g': 'Grape'}

#### 3.2.1.7 Removing Items with `.pop()`, `.popitem()`, `.clear()`

`.pop()` method is used to remove an item by key and returns the value. Syntax is
>```python
>my_dictionary.pop(my_item)
>```

It throws exception if key is not found.

#### Example

In [ ]:
fruits = {'a': 'captain', 'b': 'Banana', 'c': 'Cherry', 'd': 'Durian', 'f': 'Fig'}
print(fruits)

p = fruits.pop('b')
print(fruits)
print(p)

b = fruits.popitem()
print(fruits)
print(b)

fruits.clear()
print(fruits)

{'a': 'captain', 'b': 'Banana', 'c': 'Cherry', 'd': 'Durian', 'f': 'Fig'}
{'a': 'captain', 'c': 'Cherry', 'd': 'Durian', 'f': 'Fig'}
Banana
{'a': 'captain', 'c': 'Cherry', 'd': 'Durian'}
('f', 'Fig')
{}

`.popitem()` removes any arbitrary item.

`.clear()` clears all items in a dictionary.

In [ ]:
mixed = dict(fruits)
print(mixed.popitem())
mixed.clear()
print(mixed)

('f', 'Fig')
{}

#### 3.2.1.8 Iterating Through Dictionary

To iterate through a dictionary, you can use for-loop. By default, the iteration is done ONLY on **keys** of the dictionary.

#### Example

In [ ]:
fruits = {'a': 'captain', 'b': 'Banana', 'c': 'Cherry', 'd': 'Durian', 'f': 'Fig'}

for key in fruits:
    print(key)

a
b
c
d
f

#### Exercise

Write a code to:

1. iterate through the values in the `fruits` dictionary, and
2. iterate through the keys and values in the `fruits` dictionary at the same time.

#### 3.2.1.9 Dictionary Comprehension

Similiar to list, we can also use dictionary comprehension to easily generate a dictionary.

#### Example

In [ ]:
s = [x*2 for x in range(10)]
print(s)

d = {x: x*x for x in range(1,10)}
print(d)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#### 3.2.1.10 Membership Test

We can use `in` operator to check membership of a key in a dictionary.

#### Example

Check whether key `a` and `z` are in the `fruits` dictionary. By default, membership testing is again done on keys.

In [ ]:
print(fruits)

# by default, membership testing is done on keys
print('a' in fruits)
print('z' in fruits)

{'a': 'captain', 'b': 'Banana', 'c': 'Cherry', 'd': 'Durian', 'f': 'Fig'}
True
False

#### Exercise

* How to test if a value `Apple` is in a dictionary?
* How to test if a key-value pair `{'a':'Apple'}` is in the dictionary?
* Let `d1 = {'a':'Apple', 'c':'Cherries'}`. How to check if all key-value pairs in one dictionary `d1` are in the dictionary `fruits`?

In [5]:
#YOUR CODE HERE

fruits = {'a': 'Apple', 'b': 'Banana', 'c': 'Cherry', 'd': 'Durian', 'f': 'Fig'}
print("Apple" in fruits.values())
print(("a", "Apple") in fruits.items())

d1 = {'a':'Apple', 'c':'Cherries'}

print(set(d1.items()).issubset(set(fruits.items())))

True
True
False

In a dictionary, to find key by matching its value, we can either use:
* Option 1: for-loop
* Option 2: `.index()` method

#### Example

In [8]:
x = 'Cherry'
s = list(fruits.values())
print(s)

i = s.index(x)
print(i)

k = list(fruits.keys())
print(k[i])

['Apple', 'Banana', 'Cherry', 'Durian', 'Fig']
2
c

## Recap

* How to create a dictionary?
* How to copy a dictionary?
* How to retrieve an item by key? by `[]` & by `.get()`
* How to update an item?
* How to add an item?
* How to remove an item?
* How to merge an dictionary to another?
* What's the differences among `dict.keys()`, `dict.values()` and `dict.items()`

## 3.3 Set

A set is an **unordered** collection of **unique** values. In Python, `set` is the data type for Sets.

* Every element in set is unique (no duplicates) and must be **immutable** (which cannot be changed).
* `set` itself is mutable. We can add or remove items from it.
* `set` is often used to eliminate repeated numbers in a sequence/list.

### 3.3.1. How to create a set?

A set is created by either of following methods:
* Placing all the items (elements) inside curly braces `{}`, separated by comma `,`
* Using the built-in constructor function `set()`, which takes in a collection (list or tuple)

**Note:**
* Set can contain mixed data type.
* All duplicate value will be discarded.

#### Example

In [9]:
s = [1,2,3,4]*3
print(s)
set3 = set(s)
print(set3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
{1, 2, 3, 4}

**Question**
* Why we can't use `{}` to create an empty set?

#### Example

In [10]:
s = {}
print(type(s))
# empty set
set0 = set()
print(type(set0))

<class 'dict'>
<class 'set'>

#### 3.3.2 How to modify a set?

Set is mutable. Thus you can perform following actions on a set.
* Add a single item
* Update/add multiple items
* remove items

##### 3.3.2.1 Add a Single Item with `add()`

`add()` function is used to add a single item to the list.

If the item is already exists in the set, it will be ignored.

#### Example

In [11]:
set1 = {1,2,3,4}
set1.add(5)
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

##### 3.3.2.2 Add Multiple Items with `update()`

`update()` function is used to add multiple items to a set. It can take in one or more collections, e.g. list, tuple or another set.

* If the item already exists, it will be discarded.
* If the item does not exist, it will be added.

#### Example

In [12]:
set1 = {1,2,3,4}
print(set1)
set1.update([2,3,4,5])
print(set1)
set1.update([(5,6)], {7,8}, (9,10))
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7, 8, 9, 10, (5, 6)}

##### 3.3.2.3 Remove Item by Value

An item can be removed from set using `discard()` and `remove()` methods.
* `discard()` method does not throw exception if the item is not found in the set.
* `remove()` method will raise an `Exception` in such condition.

In [15]:
set1 = {1,2,3,4}

set1.discard(4)
set1.discard(44)
print(set1)

# set1.remove(33)
print(set1)

{1, 2, 3}
{1, 2, 3}

##### 3.3.2.4 Remove an Arbitrary Item

`pop()` function can be used to remove an **arbitrary** item from set. This is because set is unordered.
* The popped value may seem following a sequence. But that is due to the internal hashmap implementation. It is not reliable and depends on values.

In [16]:
set1 = {1,2,3,4}
print(set1.pop())
print(set1.pop())
print(set1)

1
2
{3, 4}

##### 3.3.2.5 Remove an Arbitrary Item

Sets can be used to carry out mathematical set operations
* intersection
* union
* symmetric difference
* difference (subtracting)

<center>
<img src="https://github.com/njc-cz2-2021/Materials/blob/main/Notes/images/set-venn.png?raw=1" alt="Set Venn Diagram" style="width: 500px;"/>
</center>

##### Example
Create 2 sets using `set()` constructor.

In [17]:
set1 = set(range(0,8))
set2 = set(range(5,13))
print(set1)
print(set2)

{0, 1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11, 12}

##### 3.3.2.6 Intersection

`intersection()` function outputs a set which contains all the elements that are in both sets.
* Operator `&` can be used for Intersection operation.

In [18]:
# set1 n set2
print(set1.intersection(set2))
print(set1 & set2)

{5, 6, 7}
{5, 6, 7}

##### 3.3.2.7 Union

`union()` function returns a set which contains all the elements of both the sets without repition.
* Operator `|` can be used for Union operation.

In [19]:
# set1 U set2
print(set1.union(set2))
print(set1 | set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

##### 3.3.2.8 Difference (Subtracting)

`difference()` function ouptuts a set which contains elements that are in set1 and not in set2.
* Operator `-` can be use for Subtracting operation.

In [20]:
# set1 U set2'
print(set1.difference(set2))
print(set1 - set2)

{0, 1, 2, 3, 4}
{0, 1, 2, 3, 4}

#### 3.3.2.9 Symetric Difference

`symmetric_difference()` function ouputs a function which contains elements that are in one of the sets.

In [21]:
# (set1' n set2) U (set2' U set1)
s7 = set1.symmetric_difference(set2)
print(s7)

{0, 1, 2, 3, 4, 8, 9, 10, 11, 12}

#### 3.3.2.10 Subset, Superset

`issubset()`, `issuperset()` is used to check if the set1/set2 is a subset, superset of set2/set1 respectively.

In [22]:
set3 = set(range(0,15))
set4 = set(range(5,10))
print(set3)
print(set4)

r1 = set3.issubset(set4)
r2 = set3.issuperset(set4)
print(r1, r2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{5, 6, 7, 8, 9}
False True

In [23]:
set3 = set(range(0,15))
set4 = set(range(5,10))

r1 = set4.issubset(set3)
r2 = set3.issuperset(set4)
print(r1, r2)

True True

#### 3.3.2.11 Disjoint

`isdisjoint()` is used to check if the set1/set2 is disjoint.

In [24]:
r3 = set3.isdisjoint(set4)
print(r3)

set5 = set(range(5))
set6 = set(range(6,10))
r4 = set5.isdisjoint(set6)
print(r4)

False
True

## 3.4 Mutability

### 3.4.1 Variable Assignment in Python

In Python, a variable is a symbolic name that is a reference or pointer to an object, it is not the object itself. For example, consider the following code.
```python
x = 10
```

First the integer object `10` is created in the memory and then, the variable `x` is assigned to point to that object.

#### 3.4.1.1 `id` function

The built-in Python function `id` returns an objects integer identifier, i.e. the object's location in the memory. Syntax is

```python
id(your_object)
```

#### Example 1

Assign the values `0` and `1` to the variables `x` and `y` respectively. Afterwards, using the `id` built-in function, print out their integer identifiers.

In [25]:
x = 0
y = 1
print(id(x))
print(id(y))

10750824
10750856

## 3.4.1.2 Mutable Objects

A **mutable** object means that an object of this type can be modified in the memory after it is created. On the other hand, **immutable** object can't.

#### Example 2

Consider the following codes:

In [26]:
a = ["apples", "bananas", "oranges"]
print(id(a))
a[0]='berries'
print(a)
print(id(a))

138720704304128
['berries', 'bananas', 'oranges']
138720704304128

In [27]:
a = ("apples", "bananas", "oranges")
print(id(a))
a = ("berries", "bananas", "oranges")
print(a)
print(id(a))

138721024274432
('berries', 'bananas', 'oranges')
138721434907072

## 3.4.1.3 Deep and Shallow Copy

TBC